* {
  box-sizing: border-box;
}
body {
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}

header {
  background: rgb(238, 235, 235);
  padding-inline: 20px;
  cursor: default;
  box-shadow: 0 0 5px 0.5px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
  margin-inline: auto;
}

.logo a {
  margin-right: 10px;
}
.fa-brands {
  font-size: 40px;
}
.fa-solid {
  font-size: 35px;
}

input {
  margin-top: 20px;
  height: 28px;
  width: 100%;
  border-radius: 8px;
  font-size: large;
  padding: 15px 9px;
}
.container {
  margin-top: 20px;
  max-width: 1200px;
  text-align: left;
  margin-inline: auto;
  padding: 0 20px;
}
.Transformed {
  margin-top: 40px;
  padding: 18px 15px;
  background: rgba(255, 255, 224, 0.993);
  position: relative;
  text-align: left;
  word-wrap: break-word;
}
.Transformed label {
  position: absolute;
  left: 16px;
  top: -8px;
  background: #000;
  color: white;
}

@media (max-width: 500px) {
  h1 {
    font-size: 18px;
  }
  .fa-brands {
    font-size: 20px;
  }
  .fa-solid {
    font-size: 19px;
  }
  .Transformed {
    margin-top: 30px;
    background: rgba(255, 255, 201, 0.993);
    position: relative;
    word-wrap: break-word;
  }
  input {
    font-size: large;
    padding: 15px 9px;
  }
  .Transformed label {
    position: absolute;
    left: 16px;
    top: -8px;
    background: #000;
    color: white;
    font-size: 14px;
  }
}
